@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  color: white;
}

@font-face {
  font-family: "Unbuntu" ;
  src: url("/fonts/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: "Chae-regular";
  src: url("/fonts/sf-chaerilidae.regular.ttf") format("truetype");
}

@font-face {
  font-family: "Chae-outline";
  src: url("/fonts/sf-chaerilidae.outline.ttf") format("truetype");;
}

